*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F5F8FF;
}

/* ! Common styles */

.common-width{
    max-width: 1140px;
    margin: 0px auto;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-text-style{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

/* ! Header area styles */


/* * Navbar Section styles */

.header{
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(../Assets/Hero-bg.png) no-repeat;
    height: 698px;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    text-decoration: none;
}

.btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: bold;
}

/* * Banner Section styles */

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    padding: 209px 117px 0px 117px;
    text-align: center;
}

.banner-btn{
    text-align: center;
    margin-top: 37px;
}

/* ! Action section area styles */

.action-section{
    margin-top: 116px;
}

.action-content{
    width: 517px;
    margin: 62px 0px;
}

.action-section{
    display: flex;
    justify-content: space-between;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    font-size: 24px;
    font-weight: 400;
    color: #8D8E99;
    margin: 23px 0px;
}

.action-img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}