*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F5F8FF;
}

/* ! Common styles */

.common-width{
    max-width: 1140px;
    margin: 0px auto;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-text-style{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

/* ! Header area styles */


/* * Navbar Section styles */

.header{
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(../Assets/Hero-bg.png) no-repeat;
    height: 698px;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    text-decoration: none;
}

.btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: bold;
}

.btn:hover{
    background-color: #34495e;
    color: #00ff00 ;
    transition: 0.3s;
    cursor: pointer;
}

/* * Banner Section styles */

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    padding: 209px 117px 0px 117px;
    text-align: center;
}

.banner-btn{
    text-align: center;
    margin-top: 37px;
}

/* ! Action section area styles */

.action-section{
    margin-top: 116px;
}

.action-content{
    width: 517px;
    margin: 62px 0px;
}

.action-section{
    display: flex;
    justify-content: space-between;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    font-size: 24px;
    font-weight: 400;
    color: #8D8E99;
    margin: 23px 0px;
}

.action-img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* ! Productive users section area styles */

.productive-users{
    background-color: #E5E7FF;
    border-radius: 24px;
    margin-top: 116px;
    padding: 50px 142px;
}

.productive-users-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 40px;
}

.user-count-info{
    display: flex;
    justify-content: space-between;
}

.user-count{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-info{
    font-size: 20px;
    color: #8D8E99;
    text-align: center;
}

/* ! Users’ feedback section area styles */

.user-feedback-area{
    margin-top: 137px;
}

.user-feedback-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.user-feedback{
    display: flex;
    justify-content: space-between;
}

.feedback-bg{
    width: 366px;
    background-color: #FAFBFF;
    padding: 24px;
    border-radius: 14px;
}

.feedback-star img{
    margin-right: 4px;
    margin-bottom: 24px;
}

.feedback-title{
    font-size: 24px;
    font-weight: 600px;
    color: #252432;
}

.feedback-semititle{
    margin: 6px 0px 24px 0px;
}

.feedbacker-info{
    display: flex;
}

.avatar{
    border-radius: 50px;
    margin-right: 10px;
}

.avatar-name{
    font-weight: 600px;
    color: #757575;
    margin: 4px 0px 2px 0px;
}

.feedback-date{
    color: #B3B3B3;
    font-size: 14px;
}

/* ! Course area styles */

.course-area{
    background-color: #FFFFFF;
    margin-top: 137px;
    border-radius: 14px;
    padding: 71px 150px;
    text-align: center;
}

.course-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.course-description{
    font-size: 16px;
    color: #B3B3B3;
    margin: 20px 0px;
}

.course-img{
    border-radius: 48px;
    margin-top: 20px;
}

/* ! Touch section styles */

.touch-section-info{
    margin-top: 137px;
}

.touch-section{
    display: flex;
    justify-content: space-between;
}

.touch-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    margin-top: 130px;
}

/* * Input area styles */

.input-name{
    font-size: 18px;
    font-weight: 600px;
}

.input-style{
    display: block;
    width: 497px;
    padding: 20px 32px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.textarea{
    height: 135px;
}

.touch-btn{
    display: flex;
    justify-content: right;
}

.submit-btn{
    width: 497px;
    padding: 19px 0px;
}

/* ! Footer area styles */

.footer-area{
    background-color: #FFFFFF;
    padding: 104px 0px;
    margin-top: 90px;
}

.footer-container{
    width: 531px;
    text-align: center;
    margin: 0px auto;
}

.footer-description{
    font-size: 16px;
    color: #8987A1;
    margin: 20px 0px;
}

/* * Bottom navbar styles */

.bottom-navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.bottom-navbar li{
    display: inline-block;
}

.bottom-navbar a{
    display: block;
    text-decoration: none;
    margin-right: 35px;
    font-size: 16px;
    color: #8987A1;
}

.bottom-navbar a:hover{
    color: red;
    text-decoration: underline;
    transition: 0.5;
}
